$breakpoints: (
    'mobile': 480px,
    'tablet': 768px,
    'laptop': 1280px,
    'desktop': 1440px,
);
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

$paddings: (
    'mobile': 20px,
    'laptop': 24px,
    'tablet': 24px,
    'desktop': 26px,
);

@mixin paddings($type) {
    @if map_has_key($paddings, $type) {
        $padding: map_get($paddings, $type);
        padding-left: $padding;
        padding-right: $padding;
    }
}
