$icon-check-list: url('~assets/i/icon-check-list.svg?');
$icon-pros-list: url('~assets/i/icon-pros-list.svg?');
$icon-cons-list: url('~assets/i/icon-cons-list.svg?');
$icon-step-list: url('~assets/i/ico-step.svg?');
$icon-ol-list: url('~assets/i/ico-ol-list.svg?');
$heading-bg: url('~assets/i/heading-bg.svg?');
$ico-quote-tail: url('~assets/i/ico-quote-tail.svg?');
$ico-user: url('~assets/i/ico-user.svg?');
$ico-calendar: url('~assets/i/ico-calendar.svg?');
$ico-updated: url('~assets/i/ico-updated.svg?');

$ico-telegram: url('~assets/i/messengers/ico-telegram.svg?data');
$ico-skype: url('~assets/i/messengers/ico-skype.svg?data');
$ico-whatsapp: url('~assets/i/messengers/ico-whatsapp.svg?data');
$ico-email: url('~assets/i/messengers/ico-email.svg?data');
$ico-chat: url('~assets/i/messengers/ico-chat.svg?data');
$ico-fb: url('~assets/i/messengers/ico-fb.svg?data');
$ico-vk: url('~assets/i/messengers/ico-vk.svg?data');
$ico-twitter: url('~assets/i/messengers/ico-twitter.svg?data');
$ico-instagram: url('~assets/i/messengers/ico-instagram.svg?data');
$ico-btn-loading: url('~assets/i/ico-btn-loading.svg?data');

$ico-yes: url('~assets/i/ico-yes.svg?data');
$ico-no: url('~assets/i/ico-no.svg?data');
$ico-score-bg: url('~assets/i/ico-score-bg.svg?data');

$ico-gallery-arrow: url('~assets/i/ico-gallery-arrow.svg?data');

$cons-list-bg: url('~assets/i/cons-list-bg.svg?data');
$pros-list-bg: url('~assets/i/pros-list-bg.svg?data');